<div class="container-fluid col-lg-8 col-lg-offset-2">
	<div class="jumbotron" style="height: 200px; border: 1px solid grey">
		<div style="text-align: center; float: left;"><h2 style="font-size: 40px;">Fichas de Juegos</h2><button class="btn btn-primary pull-left" ng-click='info = !info' style="margin-top: 25px; font-size: 15px; border: 1px solid black;">Informacion  <span class="caret"></span></button></div>
		
	</div>
</div>
<div class="animate container-fluid" ng-show="info">	
	<div class="row">
		<div class="panel panel-default col-lg-8 col-lg-offset-2">
			<h3 class="panel-head mark">Funciones de la Aplicación</h3>
			<p class="panel-body">Añade,edita,borra y visualiza en lista fichas técnicas de videojuegos.<br>
			Fichas con informacion como el género del juego, el estudio desarrollador, el año de publicación y las plataformas compatibles con cada uno.</p>
		</div>
	</div>
</div>