
<div class="well container-fluid col-lg-8 col-lg-offset-2" ng-init="mostrar()">
	<ul class="list-group">
		<label class="text-muted">Filtrar Lista: </label>
		<input type="text" name="fil" placeholder="Filtrar por..." ng-model="filt">&nbsp;&nbsp;
		<label class="text-muted">Ordenar por: </label> <select class="select" ng-model='ord'><option value="titulo">Ascendente</option><option value="-titulo">Descendente</option><option value="genero">Genero</option></select>

		<li class="animate media list-group-item"  ng-repeat="j in juego | filter:filt | orderBy:ord" style="font-size: 18px; height: 80px;">
			<strong>- {{j.titulo}}</strong> / {{j.genero}} / {{j.estudio}} <br> 
			<button style="border: 1px solid black" class="btn btn-danger pull-right" ng-click="borrar(j.id)"> <span class="glyphicon glyphicon-trash"></span> Eliminar </button>
			<a style="border: 1px solid black" class="pull-right btn btn-primary" href="#!/edit/{{j.id}}"> <span class="glyphicon glyphicon-pencil"></span> Editar</a>
		</li>
	</ul>
</div>